.main-header {
  font-family: Medium;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 100;
  font-size: 25px;
  padding: 10px 0 10px;
  background-color: white;
  border-bottom: 2px solid black;
  transition: top 0.3s;
}

.main-header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  animation: slideDown 0.8s forwards;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.main-nav__link {
  color: black;
  white-space: nowrap;
}

.container {
  margin: 0px 20px;
}

.header-logo img {
  height: 50%;
  width: 50%;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: #1E62C7;
}

ul li {
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav {
  margin-left: 10%;
  margin-right: 2%;
}

.main-nav__item {
  margin-left: auto;
  margin-top: 0.5%;
}

.nav-main__list {
  display: flex;
  margin-top: 3%;
}

.nav-main__list li {
  display: flex;
  margin-left: 20px;
}